body
{
background-color:rgb(255,255,255);
}
.page
{
width:1100px;
height:auto;
}
.head
{
background:url(Ani.gif );
width:1121px;
height:500px;
}

.head .subhead
{
height:80px;
width:1000px;
margin-left:24px;
}

.head .subhead a
{
color:#000000;
text-decoration:none;
}
.head .subhead a:hover
{
text-decoration:none;
color:#ff0000;
}
.head .sublink
{
background:rgb(180,27,21);
height:420px;
width:250px;
float:left;
margin-left:85px;
}
.head .sublink a
{
margin-left:2px;
text-decoration:none;
color:#FFFFFF;
font-size:15px;
}
.head .sublink2
{
height:30px;
width:800px;
margin-left:30%;
}

.head .sublink2 a
{
text-decoration:none;
padding-right:5px;
padding-left:5px;
color:#333333;
line-height:10px;

}
.head .sublink2 ul li
{
text-align:center;
float:left;
line-height:30px;
}




.head .sublink2 a:hover
{
color:#FF0000;
}
.header1
{
width:1100px;
height:160px;
margin-left:5px;
margin-right:5px;
}
.header1 .BSC
{
width:175px;
height:155px;
border:#CCCCCC 2px  solid;

}
.header1 .BSC h3
{
background-color:#2CBB8E;
height:30px;
margin-top:0px;
color:#FFFFFF;
}
.header1 .BSC a
{
color:#FF0000;
text-decoration:none;
 }
.header1 .BSC p
 {
 font-size:13px;
 
 }
.header1 .BSC a:hover 
 {
 color:#333333;
 }
 
 
 .header1 .MBA
{
width:175px;
height:155px;
border:#CCCCCC 2px  solid;
}
.header1 .MBA h3
{
background-color:#1fA3c9;
height:30px;
margin-top:0px;
color:#FFFFFF;
}
.header1 .MBA a
{
color:#FF0000;
text-decoration:none;
 }
.header1 .MBA p
 {
 font-size:13px;
 
 }
.header1 .MBA a:hover 
 {
 color:#333333;
 }
 
 
 
.header1 .program
{
width:175px;
height:155px;
border:#CCCCCC 2px  solid;
float:right;
}
 .header1 .program h3
{
background-color:#e39632;
height:47px;
margin-top:0px;
color:#FFFFFF;
}
.header1 .program p
 {
 font-size:13px;
  }
 .header1 #jee
{
border:#CCCCCC 2px solid;
}
.header2
{
margin-top:10px;
width:1100px;
height:350px;
margin-left:5px;
margin-right:5px;
background-color:#FFFFFF;
}
.header2 .msc_arts
{
height:230px;
width:200px;
margin-left:80px;
margin-top:2px;
position:absolute;

}

.header2 .courses_integrated_mtech
{
height:230px;
width:367px;
margin-top:2px;
position:absolute;
margin-left:290px;

}
.header2 .integrated_architecture
{
margin-top:2px;
height:230px;
width:200px;
margin-left:650px;
position:absolute;
}
.header2 .phd_computer-application
{
height:230px;
width:200px;
margin-top:2px;
margin-left:768px;
}
.CAMPUS
{
margin-top:30px;
width:1000px;
height:310px;
margin-top:5px;
margin-left:50px;
margin-right:40px;
background:rgb(244,244,244);
}
.CAMPUS p
{
margin-left:80px;
}
.CAMPUS .virtual_tour
{
float:left;
height:170px;
width:170px;
margin-top:4px;
margin-left:80px;

position:absolute;
}
.CAMPUS .virtual_tour a
{
color:#333333;
text-decoration:none;
}
.CAMPUS .virtual_tour a:hover
{
color:#FF0000;
} 
.CAMPUS .leadership
{
margin-top:4px;
float:left;
margin-left:300px;
height:170px;
width:170px;
position:absolute;
}
.CAMPUS .leadership a
{
text-decoration:none;
color:#333333;
}
.CAMPUS .leadership a:hover
{
color:#FF0000;
}
.CAMPUS .image
{
margin-top:4px;
float:left;
margin-left:515px;
height:170px;
width:170px;
position:absolute;
}
.CAMPUS .image a
{

text-decoration:none;
color:#333333;
}
.CAMPUS .image a:hover
{
color:#FF0000;
}
.CAMPUS .announce
{
border:#ede5f0 2px solid;
margin-top:-25px;
float:right;
height:280px;
width:240px;
margin-right:30px;
background-color:#FFFFFF;
}
.CAMPUS .announce h4
{
background-color:#D53934;
height:40px;
margin-top:0px;
color:#ffffff;
text-align:center;

}
.schools
{
width:1000px;
height:400px;
background-color:rgb(248,248,248);
margin-left:10px;
}
.schools h4
{
color:#666666;;
font-family:"Lucida Sans Typewriter";
}
.schools .img1
{
float:left;
width:200px;
height:160px;
border:#FFFFFF 1px solid;
background-image:url(school-of-engineering.jpg);
position:relative;
}
.schools .img1:hover
{
background-image:url(school-of-engineering-1.jpg);
}


.schools .img2
{
margin-left:10px;
float:left;
width:200px;
height:160px;
border:#FFFFFF 1px solid;
background-image:url(school-of-applied-science.jpg);
}
.schools .img2:hover
{
background-image:url(school-of-applied-science-1.jpg);
}



.schools .img3
{
width:200px;
height:160px;
margin-left:50px;
border:#FFFFFF 1px solid;
background-image:url(school-of-CS_and-IT.jpg);
position:relative;
}
.schools .img3:hover
{
background-image:url(school-of-CS_and-IT-1.jpg);
}

.schools .img4
{
float:left;
margin-top:10px;
width:200px;
height:160px;
background-image:url(6.jpg);
border:#FFFFFF 1px solid;
}
.schools .img4:hover
{
background-image:url(school-of-management-1.jpg);
}

.schools .img5
{
float:left;
margin-top:10px;
margin-left:10px;
width:200px;
height:160px;
background-image:url(School-of-arts-and-commerce_1.jpg);
border:#FFFFFF 1px solid;
}
.schools .img5:hover
{
background-image:url(School-of-arts-and-commerce-1_1.jpg);
}

.schools .img6
{
float:left;
margin-top:10px;
margin-left:10px;
width:200px;
height:160px;
background-image:url(school-of-law.jpg);
border:#FFFFFF 1px solid;
}
.schools .img6:hover
{
background-image:url(school-of-law-1.jpg);
}
.schools .three
{
float:right;
width:330px;
height:130px;
margin-top:-160px;
border-bottom:#CCCCCC 1px solid;
}
.schools .three .jup
{
width:330px;
margin-top:-22px;
height:40px;
background:#e39632;
}
.schools .three .jup a
{
text-decoration:none;
}
.schools .three .jup h4
{
color:#FFFFFF;
}
.schools .three .jup:hover
{
background-color:#333333;
}


.schools .three .speak
{
width:170px;
float:left;
margin-top:10px;
height:40px;
background:#c35e5e;
}
.schools .three .speak h4
{
color:#FFFFFF;
font-family:"Lucida Sans Typewriter";
}
.schools .three .speak:hover
{
background-color:#333333;
}


.schools .three .gallery
{
width:145px;
float:right;
margin-top:10px;
height:40px;
background:#a97d6e;
}
.schools .three .gallery h4
{
color:#FFFFFF;
font-family:"Lucida Sans Typewriter";
}
.schools .three .gallery:hover
{
background-color:#333333;
}
.schools .two
{
margin-top:-10px;
float:right;
width:325px;
height:180px;

}
.schools .two h4
{
color:#666666;;
font-family:"Lucida Sans Typewriter";
}

.schools .two .video
{
float:left;
margin-top:-10px;
width:160px;
height:110px;
}

.schools .two .video a
{
color:#333333;
}
.schools .two .video a:hover
{
color:#FF0000;
}


.schools .two .life
{
float:right;
margin-top:-10px;
width:160px;
height:110px;

}


.schools .two .life a
{
color:#333333;
}
.schools .two .life a:hover
{
color:#FF0000;
}





